@font-face {
    font-family: 'NS-Bold';
    src: url(/fonts/NetflixSans-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NS-Regular';
    src: url(/fonts/NetflixSans-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NS-Light';
    src: url(/fonts/NetflixSans-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NS-Medium';
    src: url(/fonts/NetflixSans-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    & .container-principal {
        background-image: url('/images/background.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        height: 856px;

        & .shadow {
            & .first-banner {
                box-shadow: inset 0px -80px 80px 150px rgba(0, 0, 0, 0.5), 0px 10px 15px -21px rgba(0, 0, 0, 0.5);
                background-color: rgb(0, 0, 0, 0.7);
                width: 100%;
                height: 856px;
            }
        }

        & .redline {
            background: #502952;
            background: linear-gradient(90deg,
                    rgb(162, 34, 98) 30%,
                    rgba(255, 0, 0, 1) 50%,
                    rgba(162, 34, 98) 70%);
            clip-path: ellipse(150% 100% at bottom);

            & .second-banner {
                background: #000000;
                background: radial-gradient(ellipse at 50% -50%,
                        rgb(64, 55, 169),
                        rgb(0, 0, 0),
                        rgb(0, 0, 0));
                clip-path: ellipse(155% 99.3% at bottom);
                margin-top: 8%;

            }
        }

        & header {
            width: 84%;

            & nav {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 10px;
                gap: 10px;

                & .logo {
                    width: 70%;

                    & a {
                        & img {
                            filter: contrast(200%);
                            width: 22%;
                        }
                    }
                }

                & .extra {
                    width: 30%;

                    & .lang {
                        width: 100%;
                        margin-bottom: 20px;


                        & i {
                            color: white;
                            font-size: 20px;
                            margin: 0px 0px 0px 95px;
                        }

                        & #langs {
                            color: white;
                            background: rgba(40, 40, 40, 0.5);
                            width: 160px;
                            padding: 8px 15px;
                            text-align: justify;
                            font-size: 16px;
                            border-radius: 5px;
                        }


                        & a {
                            text-decoration: none;
                            color: white;
                            background-color: rgb(209, 0, 0);
                            border: 1px solid rgb(209, 0, 0);
                            padding: 8px 15px;
                            border-radius: 5px;
                            font-size: 15px;
                            text-align: center;
                            font-family: 'NS-Medium';

                        }

                        & a:hover {
                            background-color: rgb(180, 0, 0);
                            border: 1px solid rgb(180, 0, 0);
                            transition: 0.2s ease-in-out;
                        }
                    }
                }
            }

            & .text {
                margin-top: 180px;
                text-align: center;
                color: white;


                & h2 {
                    font-family: 'NS-Bold';
                    font-size: 60px;
                    margin-top: 20px;
                    width: 50%;
                }

                & h3 {
                    font-family: 'NS-Regular';
                    font-size: 20px;
                    margin-top: 10px;
                }

                & form {
                    & p {
                        font-family: 'NS-Regular';
                        font-size: 16px;
                        margin-top: 35px;
                    }

                    & input {
                        background-color: rgba(23, 23, 23, 0.8);
                        border: 1px solid rgb(136, 136, 136);
                        width: 30%;
                        height: 55px;
                        border-radius: 5px;
                        font-size: 16px;
                        padding-left: 15px;
                    }

                    & button {
                        color: white;
                        width: 15%;
                        height: 50px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgb(209, 0, 0);
                        font-size: 24px;
                        margin-top: 20px;
                        margin-left: 5px;
                        padding: 10px 0px 45px 0px;
                        font-family: 'NS-Bold';
                        text-align: center;


                        & i {
                            margin-left: 10px;
                            font-size: 20px;
                        }
                    }

                    & button:hover {
                        background-color: rgb(180, 0, 0);
                        transition: 0.2s ease-in-out;
                    }
                }
            }
        }

        & main {}

        & footer {
            background-color: rgb(0, 0, 0);
        }

    }

}